@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{font-family: "Azeret Mono", monospace;}
/*all color website */
.color-1{
    color: #0D1321;
}

/* header background and others */
.header-section{
background-image: url(assets/Hero-bg.png);
width: 1440px;
height: 652px;


}
.header-div{
    text-align: center;
    align-items: center;
       
}

.header-titel{
font-size: 48px;
}
.header-p{
    font-size: 16px;  
}
.btn{
width: 244px;
height: 65px;
color: #FFFFFF;
background-color: #0D1321;
border-radius: 8px;
padding: 21px 24px;
font-size: 18px;
margin-top: 35px;
}
/* fast section end */
.main-section{
    
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #dfe0e4;
    padding-top: 10px;
    
}

.main-section-div1{
    text-align: center;
}
.main-section-titel{
    color: #0D1321;
    font-size: 25px;
    font-weight: bold;
}
.main-section-p{
    color: #0D1321;
    font-size: 16px;
}
.main-section-div-box{
    display: flex;
    margin: 35px;
    padding: 48px;
    border-radius: 16px;
    
    background-color: #FFFFFF;
}
.main-section-div{
    margin: 80px 97px;
}
.main-section-all-box{
    margin-top: 40px;
}
.btn-2{
    width: 171px;
    height: 47px;
    font-size: 18px;
    font-weight: 500;
    color: #0D1321;
}
.main-section-div-h2{
    font-size: 24px;
    font-weight: bold;
    height: 72px;
}
.main-section-div-p{
    font-size: 15px;
    height: 52px;
}
/* secend section end */
.section-3{
    width: 1140px;
    height: 775px;
    border: 2px solid rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;
    gap:24px;
}
.section-3-video-border{
    width: 1140px;
    height: 614px;
    border: 2px solid rgb(194, 192, 192);
    border-radius: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 48px;
    
}
.video{
    width: 1076px;
    height: 550px;
    padding: 32px;
    
}
.section-3-titel{
    font-size: 32px;
    color: #0D1321;
}
.section-3-p{
    font-size: 16px;
    color: #0D1321;
    font-weight: 300;
}
/* section 3 end */
.section-4{
    width: 1140px;
    height: 520px;
    margin: 50px auto;
    

}
.section-3-titel{
    text-align: center;
}
.section-4-terget-div{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin-top:60px;
    margin-left: 48px;

}
.target-div-content-html{
border: 0px solid ;
border-radius: 16px;
background-color: rgba(255, 76, 30, 0.05);
padding: 40px;

}
.target-div-content-css{
    border: 0px solid ;
    border-radius: 16px;
    background-color:rgba(0, 76, 232, 0.05);
    padding: 40px;



}
.target-div-content-js{
    border: 0px solid;
    border-radius: 16px;
    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;


}
.content-h2{
    font-size: 24px;
    font-weight: 600;
}
.content-p{
    font-size: 15px;
    color: #0D1321;
}
.content-a{
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;

}